.popupOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
}

.popupContent {
    display: flex;
    background-color: white;
    border-radius: 0;
    border: 1px solid #0E1EB0;
    width: 75%; /* changes with window's max width */
    height: 80vh;
    margin: auto;
    transition: width 0.3s ease-in-out;
    z-index: 4;
}

.popupLeft {
    width: 55%;
    position: relative;
}

.popupRight {
    width: 45%;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 40px;
}

/* When window is very narrow, hide the left part */
@media (max-width: 600px) {
    .popupLeft {
        display: none;
    }
    .popupRight {
        width: 100%;
        position: relative;
        margin-left: 0;
        margin-right: 0;
    }

    .popupContent {
        width: 100%;
    }
}

/* ========= Left side ========= */

.popupImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.popupCinematicImageContainer {
    background-color: #0E1EB0;
    padding-left: 10px;
    padding-right: 10px;
    display: flex; /* Center image */
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 100%; /* Ensure it fills the parent width */
    height: 100%; /* Ensure it fills the parent height */
}

.popupCinematicImage {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; /* Ensure the entire image fits without cropping */
}

.imageGallery {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.galleryArrow {
    position: absolute;
    top: 0; /* Align arrow container to the top */
    display: flex;
    align-items: center; /* Center icon vertically */
    height: 100%; /* Cover full height */
    color: white;
    font-size: 30px;
    cursor: pointer;
    z-index: 2;
    opacity: 0; /* Hidden by default */
    transition: opacity 0.3s ease;
}

.galleryArrow.left {
    left: 0;
    padding-left: 1%;
    width: 12%; /* Left arrow occupies the left-most 10% */
    background: linear-gradient(to right, rgba(14, 30, 176, 0.2) 0%, transparent 70%);
    justify-content: flex-start;
}

.galleryArrow.right {
    right: 0;
    padding-right: 1%;
    width: 12%; /* Right arrow occupies the right-most 10% */
    background: linear-gradient(to left, rgba(255, 255, 255, 0.5) 0%, transparent 70%);
    justify-content: flex-end;
}

.imageGallery:hover .galleryArrow.left:hover {
    opacity: 1;
}

.imageGallery:hover .galleryArrow.right:hover {
    opacity: 1;
}

.arrowIcon {
    width: 50px;
    height: 50px;
    object-fit: contain;
}

.galleryDots {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 7px;
}

.galleryDots div {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #bdbdbd;
    cursor: pointer;
}

.galleryDots .active {
    background-color: #ffffff;
}

/* ========= Right side ========= */


.popupInfo {
    height: 100%;
    padding: 10px 35px 10px 35px; /* padding left,right changes with window's max width*/
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tagsDiv {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    max-width: 80%;
    align-self: flex-end;
}

@media (max-width: 900px) {
    .tagsDiv {
        max-width: 93%;
    }
}

.descriptionAndTitleDiv {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
}

.hebrewDescription,
.englishDescription {
    font-size: 14px;
    line-height: 120%;
    margin-bottom: 30px;
    margin-top: 20px;
    overflow-y: auto; /* Make this scrollable if content is too long */
    flex-grow: 1; /* Take up remaining space vertically */
}

.hebrewDescription {
    text-align: right;
    font-family: "Narkiss Block", sans-serif;
    color: #0E1EB0;
}

.englishDescription {
    text-align: left;
    font-family: Brown, sans-serif;
    color: #0E1EB0;
}

.hebrewDescription a,
.englishDescription a {
    color: inherit;
    text-decoration: underline;
}

.tag {
    height: 20px;
    line-height: 20px;
    background-color: #0E1EB0;
    text-align: center;
    padding: 3px 14px;
    margin-left: 8px;
    margin-bottom: 6px;
    color: white;
    white-space: nowrap;
    font-size: 14px;
}

@media (max-width: 1000px) {
    .tag {
        font-size: 12px;
    }
}

.hebrewTag {
    font-family: "Narkiss Block", sans-serif;
}

.englishTag {
    font-family: Brown, sans-serif;
}

.titleContainer {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
}

.title {
    margin-top: auto;
    margin-bottom: 25px;
    font-size: 40px;
    font-weight: bold;
    text-align: left;
    font-family: "David Libre", serif;
    color: #0E1EB0;
}

.titleSpan {
    display: inline-block;
    white-space: nowrap;
    border-bottom: 1.5px dotted #0E1EB0;
    padding-bottom: 0.5px;
}


/* ========= Responsive behavior ========= */

@media (max-width: 1400px) {
    .popupContent {
        width: 78%;
    }

    .popupInfo {
        padding-left: 28px;
        padding-right: 28px;
    }

    .title {
        font-size: 39px;
    }
}

@media (max-width: 1220px) {
    .popupContent {
        width: 85%;
    }

    .popupInfo {
        padding-left: 20px;
        padding-right: 20px;
    }

    .title {
        font-size: 36px;
    }
}

@media (max-width: 1020px) {
    .popupContent {
        width: 89%;
    }

    .popupInfo {
        padding-left: 1px;
        padding-right: 1px;
    }

    .title {
        font-size: 33px;
    }
}

@media (max-width: 900px) {
    .title {
        font-size: 30px;
    }
}

@media (max-width: 750px) {
    .title {
        font-size: 25px;
    }
}