.closeButton {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 5;
}

@font-face {
    font-family: 'Copernicus';
    src: url('./assets/fonts/CopernicusTrial-Bold-BF6616045097aac.ttf') format('woff2');
    font-weight: bold;
    font-style: normal;
}

body {
    font-family: 'Copernicus', sans-serif;
}

@font-face {
    font-family: 'David Libre';
    src: url('./assets/fonts/DavidLibre-Regular.ttf') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'David Libre', serif;
}

@font-face {
    font-family: 'David Libre';
    src: url('./assets/fonts/DavidLibre-Bold.ttf') format('woff2');
    font-weight: bold;
    font-style: normal;
}

body {
    font-family: 'David Libre', serif;
}


@font-face {
    font-family: 'Narkiss Block';
    src: url('./assets/fonts/NarkissBlock-Light-TRIAL.otf') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Narkiss Block', sans-serif;
}

@font-face {
    font-family: 'Narkiss Block';
    src: url('./assets/fonts/NarkissBlock-Semibold-TRIAL.otf') format('woff2');
    font-weight: bold;
    font-style: normal;
}

body {
    font-family: 'Narkiss Block', sans-serif;
}

@font-face {
    font-family: 'Brown';
    src: url('./assets/fonts/Brown-Light.ttf') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Brown', sans-serif;
}

@font-face {
    font-family: 'Brown';
    src: url('./assets/fonts/Brown-Bold.ttf') format('woff2');
    font-weight: bold;
    font-style: normal;
}

body {
    font-family: 'Brown Bold', sans-serif;
}